body{

  background-color: rgb(46, 46, 46);
  color: aliceblue;
  
}

a{
margin-top: 5px;
margin-right: 5px;
margin-bottom: 5px;

}

header{
margin-bottom: 10px;

}

header, footer{

  background-color: rgb(44, 54, 71);
  text-align: center;
  border: 2px solid rgb(66, 80, 106);
  border-radius: 5px;
}

footer{

    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;

}

.MainP{
text-align: center;


}
.MainP img{

width: 700px;
height: 350px;
}

.SzakmaiP img{

  width: 500px;
  height: 400px;
  
}
.card{
  text-align: center;
  background-color: rgb(70, 80, 96) ;
}
